.card-moment {
  position: relative;
  height: auto;
  overflow: hidden;
  border-radius: 1rem;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  padding: 0;
  background: none;
}

.card-moment img {
  width: 100%;
  min-height: 22rem;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.5s ease-in-out;
}

.card-moment:hover {
  transform: scale(1.05);
}

.card-moment:hover img {
  filter: grayscale(40%);
}

.card-moment:hover .card-info p {
  opacity: 1;
  max-height: 100px;
}

.card-moment:hover .card-info hr {
  background-color: #ffffff;
}

.card-moment .card-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(110, 60, 210, 0.8823529412);
  padding: 1.2rem;
  text-align: center;
  overflow: hidden;
  height: auto;
}

.card-moment .card-info h3 {
  margin: 0;
  text-align: center;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  overflow-wrap: break-word;
  word-wrap: break-word;
  /* hyphens: auto; */
  white-space: normal;
  transition: color 0.5s ease-in-out;
}

.card-moment .card-info p {
  margin: 0;
  font-size: 15px;
  line-height: 1.1em;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  color: #fff;
  transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
}

.card-moment .card-info hr {
  border: none;
  height: 2px;
  background-color: #fff;
  margin: 10px 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.5s ease-in-out;
}

.guion {
  hyphens: auto;
}