<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHILE CURSOS</title>
    <link rel="stylesheet" type="text/css" href="./plugins/css/sofactia.css">
    <link rel="stylesheet" type="text/css" href="./plugins/css/inicio.css">
    <link rel="stylesheet" type="text/css" href="./plugins/libs/component/particules/particules.css">
    <!-- Librerías CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <!-- Librería JavaScript -->
    <script src="plugins/libs/jquery-3.3.1.js" defer></script>
</head>

<body id="index">
    <div class="logo-container">
        <img src="./assets/img/logo/logo-white.svg" alt="Orientación en prevención de riesgos" class="logo">
    </div>
    <div class="container-1 sf-text-center">
        <h1 class="sf-fm-main sf-pt-p-5 sf-text-white sf-txt-3xl-xl sf-txt-2xl">
            Técnicas de manejo defensivo y prevención de accidentes viales, en contextos laborales
        </h1>
        <div class="icon-container">
            <div class="feature-icon">
                <i class="fas fa-clock"></i>
                <span>A tu ritmo</span>
            </div>
            <div class="feature-icon">
                <i class="fas fa-bolt"></i>
                <span>Aprendizaje rápido</span>
            </div>
            <div class="feature-icon">
                <i class="fas fa-laptop"></i>
                <span>Interactivo</span>
            </div>
        </div>
    </div>
    <div class="fullscreen-cover">
        <video autoplay muted loop id="overlayVideo">
            <source src="./assets/video/background_index.mp4" type="video/mp4">
        </video>
    </div>
    <button class="btn-main sf-max-w-r11 sf-center-x" role="button" id="initView">
        <span class="btn-shadow"></span>
        <span class="btn-edge"></span>
        <span class="btn-front">
            <i class="fas fa-hand-point-right"></i> Iniciar
        </span>
    </button>
    <script src="./plugins/libs/component/particules/particule.js" defer></script>

    <script>
        document.getElementById('initView').addEventListener('click', function () {
            window.location.href = 'module/inicio/inicio.html';
        });
    </script>
</body>

</html>