.slider-container {
    position: relative;
    margin: 0 auto;
    width: 41vw;
    min-height: 70vh;
    /* Cambiado a auto */
    overflow: hidden;
    /* Agregado */
}

.slider-container .bullet-container {
    position: absolute;
    bottom: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-container .bullet-container .bullet {
    margin-right: 14px;
}

.slider-container .bullet-container .bullet:last-child {
    margin-right: 0px;
}

.slider-container .bullet-container .bullet {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #04395e;
    opacity: 0.5;
}

.slider-container .bullet-container .bullet.active {
    opacity: 1;
}

.slider-container .slider-content {
    position: relative;
    left: 50%;
    top: 40%;
    width: 70%;
    height: 60%;
    transform: translate(-50%, -50%);
}

.slider-container .slider-content .slider-single {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: z-index 0ms 250ms;
}

.slider-container .slider-content .slider-single .slider-single-image {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 60vh;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
    transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
    transform: scale(0);
    opacity: 0;
}

.slider-container .slider-content .slider-single .slider-single-download {
    position: absolute;
    display: block;
    right: -22px;
    bottom: 12px;
    padding: 15px;
    color: #333333;
    background-color: #fdc84b;
    font-size: 18px;
    font-weight: 600;
    font-family: "karla";
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
    opacity: 0;
}

.slider-container .slider-content .slider-single .slider-single-title {
    display: block;
    float: left;
    margin: 16px 0 0 20px;
    font-size: 20px;
    font-family: "karla";
    font-weight: 400;
    color: #ffffff;
    transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
    opacity: 0;
}

.slider-container .slider-content .slider-single .slider-single-likes {
    display: block;
    float: right;
    margin: 16px 20px 0 0;
    transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
    opacity: 0;
}

.slider-container .slider-content .slider-single .slider-single-likes i {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    color: #ff6060;
    transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
    transform: scale(0);
}

.slider-container .slider-content .slider-single .slider-single-likes p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    color: #ffffff;
}

.slider-container .slider-content .slider-single.preactivede .slider-single-image {
    transform: translateX(-50%) scale(0);
}

.slider-container .slider-content .slider-single.preactive {
    z-index: 1;
}

.slider-container .slider-content .slider-single.preactive .slider-single-image {
    opacity: 0.3;
    transform: translateX(-25%) scale(0.8);
}

.slider-container .slider-content .slider-single.preactive .slider-single-download {
    transform: translateX(-150px);
}

.slider-container .slider-content .slider-single.preactive .slider-single-title {
    transform: translateX(-150px);
}

.slider-container .slider-content .slider-single.preactive .slider-single-likes {
    transform: translateX(-150px);
}

.slider-container .slider-content .slider-single.proactive {
    z-index: 1;
}

.slider-container .slider-content .slider-single.proactive .slider-single-image {
    opacity: 0.3;
    transform: translateX(25%) scale(0.8);
}

.slider-container .slider-content .slider-single.proactive .slider-single-download {
    transform: translateX(150px);
}

.slider-container .slider-content .slider-single.proactive .slider-single-title {
    transform: translateX(150px);
}

.slider-container .slider-content .slider-single.proactive .slider-single-likes {
    transform: translateX(150px);
}

.slider-container .slider-content .slider-single.proactivede .slider-single-image {
    transform: translateX(50%) scale(0);
}

.slider-container .slider-content .slider-single.active {
    z-index: 2;
}

.slider-container .slider-content .slider-single.active .slider-single-image {
    /* object-fit: contain; */
    opacity: 1;
    transform: translateX(0%) scale(1);
}

.slider-container .slider-content .slider-single.active .slider-single-download {
    opacity: 1;
    transition-delay: 100ms;
    transform: translateX(0px);
}

.slider-container .slider-content .slider-single.active .slider-single-title {
    opacity: 1;
    transition-delay: 200ms;
    transform: translateX(0px);
}

.slider-container .slider-content .slider-single.active .slider-single-likes {
    opacity: 1;
    transition-delay: 300ms;
    transform: translateX(0px);
}

.slider-left {
    background-color: #6e3cd2;
    position: absolute;
    z-index: 3;
    display: block;
    right: 85%;
    top: 50%;
    color: #ffffff;
    transform: translateY(-50%);
    padding: 20px 15px;
    margin-right: -2px;
}

.slider-right {
    background-color: #6e3cd2;
    position: absolute;
    z-index: 3;
    display: block;
    left: 85%;
    top: 50%;
    color: #ffffff;
    transform: translateY(-50%);
    padding: 20px 15px;
    margin-left: -2px;
}

.slider-left:hover {
    background-color: #fcfcfc;
    position: absolute;
    z-index: 3;
    display: block;
    right: 85%;
    top: 50%;
    border-top: 2px solid #6e3cd2;
    border-right: 2px solid #6e3cd2;
    border-bottom: 2px solid #6e3cd2;
    border-left: 2px solid #6e3cd2;
    transform: translateY(-50%);
    padding: 20px 15px;
    margin-right: -2px;
}

.slider-right:hover {
    background-color: #fcfcfc;
    position: absolute;
    z-index: 3;
    display: block;
    left: 85%;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 15px;
    margin-left: -2px;
    border-top: 2px solid #6e3cd2;
    border-right: 2px solid #6e3cd2;
    border-bottom: 2px solid #6e3cd2;
    border-left: 2px solid #6e3cd2;
}

a:hover {
    color: #6e3cd2;
}

.not-visible {
    display: none !important;
}

@media screen and (max-width: 600px) {
    .slider-container {
        position: relative;
        margin: 0 auto;
        width: 88vw;
        min-height: 39vh;
        overflow: hidden;
    }

    .slider-container .slider-content .slider-single .slider-single-image {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: 30vh;
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
        transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
        transform: scale(0);
        opacity: 0;
    }
}