/* Estilo para las imágenes que reemplazan los íconos */
.icono-protocolos-mom3-1 {
    width: 10vw;
    /* Ajusta según el tamaño deseado */
    height: 15vh;
    /* Ajusta según el tamaño deseado */
    object-fit: contain;
    /* Para mantener las proporciones */
    margin-bottom: 15px;
}

/* Mantén el resto del CSS igual */
.container-protocolos-mom3-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
}

.card-protocolos-mom3-1 {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 350px;
    width: 100%;
    height: 53vh;
    margin-top: 1.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.card-protocolos-mom3-1:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

.p-ancho {
    padding: 3rem;
}