.tipos-acoso {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

/* Diseño de los botones de opciones */
.buttons_tipos_acoso {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 2% 0;
  align-items: center;
}

/* Estilo general para el SVG */
.buttons_tipos_acoso button img {
  transition: fill 0.3s ease;
  /* Para suavizar el cambio de color */
}

/* Al hacer hover sobre el botón */
.buttons_tipos_acoso button:hover img {
  filter: invert(100%) brightness(80%);
}

/* Para el botón activo */
.buttons_tipos_acoso button.active_tipos_acoso img {
  filter: invert(100%) brightness(200%);
}

.buttons_tipos_acoso button {
  display: flex;
  padding: 12px;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
  border: none;
  background-color: #f0f0f0;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
  justify-content: center;
  margin: 15px 5px;
}

.buttons_tipos_acoso button.active_tipos_acoso {
  background-color: #04395e;
  color: #fff;
}

/* Diseño del contenido de cada sección */
.content_tipos_acoso {
  display: none;
  padding: 12px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  min-height: 65vh;
}

.content_tipos_acoso.active_tipos_acoso {
  display: block;
}

.content_tipos_acoso img {
  width: 30%;
  margin: 0 auto;
}

.content_tipos_acoso p {
  text-align: justify;
}

.content_tipos_acoso img {
  width: 70%;
  margin: 0 auto;
  border-radius: 5%;
  margin-bottom: 2%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

/* Diseño de los botones de Uso Correcto y Contraindicaciones */
.buttons-switch {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.buttons-switch button {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.buttons-switch button.active-switch {
  background-color: #04395e;
  color: white;
}

.buttons-switch button:hover {
  background-color: #04395e;
}


/* Diseño responsivo */
@media (min-width: 1024px) and (max-width: 1920px) {
  .buttons_tipos_acoso button {
    display: flex;
    width: 100%;
    /* margin: auto; */
    padding: 10px;
    flex-direction: row;
  }
}

@media (min-width: 1920px) {
  .tipos-acoso {
    display: flex;
    width: 70%;
    margin: auto;
    padding: 20px;
  }
}

@media (max-width: 600px) {
  .buttons_tipos_acoso button {
    font-size: 16px;
    padding: 10px;
    margin: 5px 5px;
  }
}

@media (max-width: 768px) {
  .tipos-acoso {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 1%;
  }

  .buttons_tipos_acoso {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 0 0 20px 0;
    width: 100%;
  }

  .buttons_tipos_acoso button {
    margin: 0;
    padding: 15px 8px;
    font-size: 14px;
    text-align: center;
    border-radius: 8px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content_tipos_acoso {
    padding: 2px 8px;
  }
}