/* Cartas KARIN */
.karin-cards-container {
    display: flex;
    justify-content: center;
    gap: 2px;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 12px;
}

.karin-card {
    width: 18vw;
    height: 55vh;
    perspective: 1000px;
    cursor: pointer;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.karin-card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 12px;
    border: 3px solid #6e3cd2;
}

.card-front {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.card-back {
    background: #ffffff;
    transform: rotateY(180deg);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.card-text {
    font-size: 16px;
    line-height: 1.4;
    text-align: justify;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .karin-cards-container {
        gap: 10px;
        padding: 10px;
    }

    .karin-card {
        width: 75vw;
        height: 45vh;
    }

    .card-letter {
        font-size: 60px;
    }

    .card-title {
        font-size: 16px;
    }

    .card-text {
        font-size: 16px;
    }

    .card-back {
        padding: 15px;
    }
}

.audio-center-ajuste {
    margin-left: 0.1rem;
}

/* Estilos específicos para audio en momento3_9 */
.audio-ajuste {
    width: 175px !important;
}

/* Responsive para móviles */
@media (max-width: 768px) {
    .audio-ajuste {}
}